annotated-doc
annotated-types
anyio
blinker
certifi
charset-normalizer
click
colorama
distro
filelock
Flask
fsspec
gotrue
gTTS
h11
httpcore
httpx
huggingface_hub
idna
itsdangerous
Jinja2
jiter
joblib
markdown-it-py
MarkupSafe
mdurl
narwhals
networkx
numpy
openai
packaging
pillow
pydantic
pydantic_core
Pygments
python-dateutil
python-dotenv
PyYAML
qrcode
regex
requests
rich
safetensors
scikit-learn
scipy
sentence-transformers
shellingham
six
sniffio
supabase
StrEnum
threadpoolctl
tokenizers
torch
tqdm
transformers
typer
typing-inspection
typing_extensions
urllib3
websockets
Werkzeug
pytest
pytest-flask
pytest-mock
